<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Trabajando con VUE</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1 class="text-muted">Ejercicio ventas SENA</h1>
            <br>
            <div v-if="opcion==1">
            <div class="colum">
                <div class="row">
                     <div class="form-check form-check-inline">
                          <input class="form-check-input" v-model="tipoRb" @change="precioProd" @change="calcularDcto" type="radio" name="inlineRadioOptions" value="0">
                          <label class="form-check-label" for="inlineRadio2">Manzana</label>
                     </div>
                     <div class="form-check form-check-inline">
                          <input class="form-check-input" v-model="tipoRb" @change="precioProd" @change="calcularDcto" type="radio" name="inlineRadioOptions" value="1">
                          <label class="form-check-label" for="inlineRadio2">Pera</label>
                     </div>
                     <input v-model.number="cant" class="form-control " type="number" placeholder="Ingrese cantidad de frutas" aria-label="default input example">
                </div>
                <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" v-model="tipoRb2" @change="calcularDcto" type="radio" name="inlineRadioOptions2" value="1">
                        <label class="form-check-label" for="inlineRadio2">SI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" v-model="tipoRb2"  @change="calcularDcto" type="radio" name="inlineRadioOptions2" value="0">
                        <label class="form-check-label" for="inlineRadio2">NO</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary" @click="total">TOTAL</button> 
                 </div>
         </div>
         <div v-else> 
             <h1 class="text-muted" v-text="tPagar"></h1>
             <button class="btn btn-success " @click="opcionContar">ATRAS</button>
            </div>
     </div> 
    </div>

</body>
<script src="js/vue.js"></script>
<script src="js/app.js"></script>

</html>